<div class="fixed detailedevent">
	<div class="navbar"><app-navbar></app-navbar></div>
	<div class="middle">
		<div class="event_img"><img src="../../assets/event-2.jpg"/></div>
		<div class="event_info">
			<div class="title">Code Using ython</div>
			<div class="catagory">
				<span>python</span>
				<span>coding exam</span>
			</div>
			<div class="other">
				<div class="w-full"><p class="min-title">Happening</p><p>City Campus, Rajkot</p></div>
				<div class="w-full"><p class="min-title">Runs From</p><p>28 Dec, 2023</p></div>
				<div class="w-full"><p class="min-title uppercase">Application Closed in :</p><p>01:24:12</p></div>
				<div class="w-full bg-blue-600"><button>Apply Now</button></div>
			</div>
		</div>
	</div>
	<div class="info">
		<div class="description">
			<div class="description_title">Description</div>
			<div class="description_data">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, cumque omnis totam error molestias quos est dignissimos perferendis ut quis doloremque amet sit? Adipisci id eligendi quod tempora cum consectetur, qui quia ab. Iusto cumque sapiente sequi sint reiciendis neque ipsa voluptatum ea explicabo labore.</div>
		</div>
		<div class="tt">
			<div class="description_title">Hackthon Time Table</div>
			<div class="table-type">
				<div>
					<div>Registration Start</div>
					<div>Registration End</div>
					<div>Event Start</div>
					<div>Event End</div>
				</div>
				<div>
					<div><img src="../../assets/calender_special.svg"/>20 Dec, 2023</div>
					<div><img src="../../assets/calender_special.svg"/>20 Dec, 2023</div>
					<div><img src="../../assets/calender_special.svg"/>20 Dec, 2023</div>
					<div><img src="../../assets/calender_special.svg"/>20 Dec, 2023</div>
				</div>
				<div>
					<div><img src="../../assets/clock.svg"/>08:00 PM</div>
					<div><img src="../../assets/clock.svg"/>08:00 PM</div>
					<div><img src="../../assets/clock.svg"/>08:00 PM</div>
					<div><img src="../../assets/clock.svg"/>08:00 PM</div>
				</div>
			</div>
		</div>
		
	</div>
</div>