<div class="navbar w-full h-full">
	<div class="logo"><img src="../../assets/logo.png"/></div>
	<div class="menu">
		<a routerLink=""><img src="../../assets/nav-setting.svg"/></a>
		<a routerLink=""><img src="../../assets/nav-home.svg"/></a>
		<a routerLink=""><img src="../../assets/nav-event.svg"/></a>
	</div>
	<div class="search">
		<input class="bg-gray-300" type="text" placeholder="search here"/>
		<button>
		<img src="../../assets/nav-search.svg"/>
		</button>
	</div>
	<div class="user">
		<img class="user-logo" src="../../assets/headway-F2KRf_QfCqw-unsplash.jpg" alt="">
		<button routerLink="/login"><img src="../../assets/nav-logout.svg" alt=""></button>
	</div>
</div>