<div class="container signup">
	<div class="sidebar-login float-left"></div>
	<div class="content-login float-left">
		<div class="login-text">
			<p>Sign Up</p>
		</div>
		<div class="login-info">
			<p>Please fill your information below</p>
		</div>
		<div class="login-input">
			<input type="text" placeholder="FULL NAME" />
			<input type="text" placeholder="EMAIL ID" />
			<input type="password" placeholder="PASSWORD" />
			<input type="password" placeholder="CONFIRM PASSWORD" /></div>

		<div class="login-info">
			<p class="keepMeSignIn">
				<input type="checkbox" class="checkbox-round" id="keepMeSignIn" />
				<label for="keepMeSignIn" style="padding-left: 3px;">I Accept terms and conditions & privacy policy</label>
			</p>
		</div>
		<div class="login-btn">
			<div class="login-ask"><a routerLink="/login">Already have an account?</a></div>
			<div class="login-submit">
				<div class="rounded-full bg-blue-400 text-white"><a routerLink="/signup">Sign Up</a></div>
				<div class="rounded-full bg-blue-400 text-white"><a routerLink="/login">Log In</a></div>
			</div>
		</div>
	</div>
</div>