<div>
  <div class="flex justify-between mx-10">
    <div>
      <img src="../../assets/logo.png" class="w-[200px]" alt="" />
    </div>

    <div class="m-8 flex justify-between">
      <div>
        <input
          type="text"
          class="rounded-2xl w-[300px] text-2xl px-3 bg-[#D9D9D9]"
        />
      </div>

      <div>
        <i class="fa-solid fa-magnifying-glass -mx-9 text-2xl"></i>
      </div>

      <div>
        <button
          class="bg-blue-600 rounded-md text-2xl py-2 px-6 ml-10 -my-2 hover:bg-blue-500"
        >
          Login
        </button>
      </div>
    </div>
  </div>
  <!-- Header Ends -->
  <hr class="h-0.5 bg-black" />

  <div class="bgimage">
    <div class="p-5">
      <div class="text-center p-5 transparentbg">
        <div class="text-2xl font-bold m-5">
          Ongoing Event
          <hr class="h-0.5 w-20 mx-auto m-2 bg-black" />
        </div>
        <div class="flex justify-around">
          <div class="">
            <img [src]="" class="w-[350px] rounded-t-lg h-28" alt="" />
            <div class="w-[350px] p-3 text-start h-64 bg-[#D9D9D9]">
              <h1 class="text-3xl">Hello{{ data[0].title }}</h1>
              <p class="">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Recusandae qui eius nisi consequuntur ea hic placeat quod.
                Officia voluptatibus dolorem, fugiat harum iusto consequuntur,
                aspernatur ut quis similique odio ratione!
              </p>
              <div
                class="my-5 w-32 p-1 relative bottom-1 rounded-md bg-[rgba(255,255,255,.5)]"
              >
                <i class="fa-regular p-1 fa-calendar-days"></i>
                <span class="p-1">12-11-2023</span>
              </div>
            </div>
          </div>
          <div>
            <img
              src="../../assets/event-1.jpg"
              class="w-[350px] rounded-t-lg h-28"
              alt=""
            />
            <div class="w-[350px] p-3 text-start h-64 bg-[#D9D9D9]">
              <h1 class="text-3xl">title</h1>
              <p class="">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Recusandae qui eius nisi consequuntur ea hic placeat quod.
                Officia voluptatibus dolorem, fugiat harum iusto consequuntur,
              </p>
              <div
                class="my-5 w-32 p-1 relative bottom-1 rounded-md bg-[rgba(255,255,255,.5)]"
              >
                <i class="fa-regular p-1 fa-calendar-days"></i>
                <span class="p-1">12-11-2023</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center my-4 p-5 transparentbg">
        <div class="text-2xl font-bold m-5">
          Open Event
          <hr class="h-0.5 w-20 mx-auto m-2 bg-black" />
        </div>
        <div class="flex justify-around">
          <div class="">
            <img
              src="../../assets/upcoming-1.png"
              class="w-[300px] rounded-t-lg h-28"
              alt=""
            />
            <div class="w-[300px] p-3 text-start h-64 bg-[#D9D9D9]">
              <h1 class="text-3xl">title</h1>

              <div
                class="my-5 w-32 p-1 relative bottom-1 rounded-md bg-[rgba(255,255,255,.5)]"
              >
                <i class="fa-regular p-1 fa-calendar-days"></i>
                <span class="p-1">12-11-2023</span>
              </div>
            </div>
          </div>
          <div>
            <img
              src="../../assets/upcoming-2.jpg"
              class="w-[300px] rounded-t-lg h-28"
              alt=""
            />
            <div class="w-[300px] p-3 text-start h-64 bg-[#D9D9D9]">
              <h1 class="text-3xl">title</h1>

              <div
                class="my-5 w-32 p-1 relative bottom-1 rounded-md bg-[rgba(255,255,255,.5)]"
              >
                <i class="fa-regular p-1 fa-calendar-days"></i>
                <span class="p-1">12-11-2023</span>
              </div>
            </div>
          </div>

          <div>
            <img
              src="../../assets/upcoming-3.png"
              class="w-[300px] rounded-t-lg h-28"
              alt=""
            />
            <div class="w-[300px] p-3 text-start h-64 bg-[#D9D9D9]">
              <h1 class="text-3xl">title</h1>

              <div
                class="my-5 w-32 p-1 relative bottom-1 rounded-md bg-[rgba(255,255,255,.5)]"
              >
                <i class="fa-regular p-1 fa-calendar-days"></i>
                <span class="p-1">12-11-2023</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
