.bgimage{
    background-image: url(../../assets/bg.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.transparentbg{
    background-color: rgba(255,255,255,.9);
    background-size: cover;
    backdrop-filter: blur(1);
    border-radius: 0.5rem;
}