<div class="container login">
	<div class="sidebar-login float-left"></div>
	<div class="content-login float-left">
		<div class="login-text"><p>Log In</p></div>
		<div class="login-info"><p>Enter mail and password</p></div>
		<div class="login-input"><input type="text" placeholder="EMAIL ID" /><input type="password" placeholder="PASSWORD" /></div>

		<div class="login-info">
			<p class="keepMeSignIn">
				<input type="checkbox" class="checkbox-round" id="keepMeSignIn"/>
				<label for="keepMeSignIn" style="padding-left: 3px;">Keep me signed in</label>
			</p>
		</div>
		<div class="login-btn">
			<div class="login-ask"><a routerLink="/signup">Don't you have an account?</a></div>
			<div class="login-submit">
				<div class="rounded-full bg-blue-400 text-white"><a routerLink="/login">Log In</a></div>
				<div class="rounded-full bg-blue-400 text-white"><a routerLink="/signup">Sign In</a></div>
			</div>
		</div>
	</div>
</div>
